<main>
  <div class="logo">
    <h1>DeJovenes</h1>
    <h2>Únete al club</h2>
  </div>

  <form [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
    <div>
      <label>Nombre</label><br>
      <input type="text" placeholder="Nombre" formControlName="nombre">
      @if (miFormulario.get('nombre')?.touched && miFormulario.get('nombre')?.invalid) {
        <p style="color: red">Error: El nombre debe tener entre 2 y 60 caracteres.</p>
      }
    </div>

    <div>
      <label>Apellidos</label><br>
      <input type="text" placeholder="Apellidos" formControlName="apellido">
      @if (miFormulario.get('apellido')?.touched && miFormulario.get('apellido')?.invalid) {
        <p style="color: red">Error: Los apellidos deben tener entre 2 y 80 caracteres.</p>
      }
    </div>

    <div>
      <label>DNI</label><br>
      <input type="text" placeholder="12345678X" maxlength="9" formControlName="dniInput">
      @if (miFormulario.get('dniInput')?.touched && miFormulario.get('dniInput')?.invalid){
        <p style="color: red">Error: DNI no válido (8 números y letra correcta).</p>
      }
    </div>

    <div>
      <label>Fecha de nacimiento</label><br>
      <input type="text" placeholder="DD/MM/AAAA" formControlName="fecha">
      @if (miFormulario.get('fecha')?.touched && miFormulario.get('fecha')?.invalid) {
        <p style="color: red">Error: Formato DD/MM/AAAA o fecha no válida.</p>
      }
    </div>

    <div id="sexo">
      <label>Sexo</label><br>
      <input type="radio" value="hombre" formControlName="genero"><span> Hombre</span>
      <input type="radio" value="mujer" formControlName="genero"><span> Mujer</span>
      <input type="radio" value="otro" formControlName="genero"><span> Otro</span>
      @if (miFormulario.get('genero')?.touched && miFormulario.get('genero')?.invalid){
        <p style="color: red">Debe seleccionar una opción.</p>
      }
    </div>

    <div>
      <label>Subir DNI</label><br>
      <input type="file" formControlName="dniFoto">
      @if (miFormulario.get('dniFoto')?.touched && miFormulario.get('dniFoto')?.invalid) {
        <p style="color: red">Debe adjuntar una imagen.</p>
      }
    </div>

    <div>
      <label>Intereses</label><br>
      <select formControlName="intereses">
        <option value="">Seleccione uno...</option>
        <option value="Musica">Musica</option>
        <option value="Literatura">Literatura</option>
        <option value="Cocina">Cocina</option>
        <option value="Informatica">Informatica</option>
      </select>
      @if (miFormulario.get('intereses')?.touched && miFormulario.get('intereses')?.invalid){
        <p style="color: red">Seleccione un interés.</p>
      }
    </div>

    <div>
      <label>CP</label>
      <input type="text" maxlength="5" formControlName="cp">
      <label>Provincia</label>
      <input type="text" formControlName="provincia" readonly>
      @if (miFormulario.get('cp')?.touched && miFormulario.get('cp')?.invalid) {
        <p style="color: red">CP no válido o fuera de rango (01-52).</p>
      }
    </div>

    <div>
      <label>Situación actual</label><br>
      <select formControlName="situacionActual">
        <option value="">Seleccione...</option>
        <option value="Estudiante">Estudiante</option>
        <option value="En paro">En paro</option>
        <option value="Trabajando">Trabajando</option>
      </select>
      @if (miFormulario.get('situacionActual')?.touched && miFormulario.get('situacionActual')?.invalid) {
        <p style="color: red">Seleccione su situación.</p>
      }
    </div>

    <div>
      <label>Acepta las condiciones</label>
      <input type="checkbox" formControlName="acepto">
      @if (miFormulario.get('acepto')?.touched && miFormulario.get('acepto')?.invalid) {
        <p style="color: red">Debe aceptar las condiciones.</p>
      }
    </div>

    <div class="buttons">
      <button type="button" (click)="resetForm()">Borrar</button>
      <button type="submit" [disabled]="miFormulario.invalid">Enviar</button>
    </div>
  </form>
</main>
<router-outlet/>
